body, input, button, select {
  font-size: 12pt;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

input, button, select {
  margin: 5px;
}

button:disabled {
  color: gray;
}

h1 {
  margin-bottom: 0px;
  font-size: 20pt;
}

.cellInput > input {
  font-family: monospace;
  margin: 0px;
  width: 190px;
}

.cellResult {
  height: 33.33px;
  overflow: hidden;
}

.cell {
  position: absolute;
  width: 190px;
  height: 90px;
}

.sheet {
  position: relative;
}
